body { 

  margin: 0; 

  font-family: Arial, Helvetica, sans-serif; 

  background-color: #f5f6fa; 

  color: #333; 

} 
header { 

  background-color: #005f99; 

  color: white; 

  text-align: center; 

  padding: 20px; 

} 
section {

    background-color: #ADD8E6; 

    color: #005f99; 

    font-size: 1.25em;

    padding: 20px;
}